{% extends 'layouts/base.html' %} {% load static %} {% block title %}Admin Home{% endblock %} {% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between alert">
    <h2>Users</h2>
    <a href="{% url 'user_create' %}" class="btn btn-dark btn-sm">add new user</a>
  </div>
  <ul class="list-group">
    {% for user in users %}
    <li class="list-group-item d-flex justify-content-between">
      {{ user.username }}
      <div style="display: inline">
        <a href="/accounts/profile/{{user.id}}"  target="_blank" class="btn btn-info btn-sm float-right">view</a>
        <a href="{% url 'user_edit' user.id %}" name="user_edit" class="btn btn-info btn-sm float-right">Edit</a>
        <a href="{% url 'user_delete' user.id %}" name="user_delete" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
