{% extends 'layouts/base.html' %} {% load static %} {% block title %}Create Project{% endblock %} {% block content %}
<div class="container my-4">
  <hr />
  <h2 class="text-center bg-body-secondary">Create Project</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ project_form }}
    <input type="submit" name="project" class="btn btn-outline-success form-control mt-3" value="Create Project" />
  </form>
</div>
<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
