{% extends 'layouts/base.html' %} {% load static %} {% block title %}Admin Home{% endblock %} {% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between alert">
    <h2>Tags</h2>
    <a href="{% url 'tag_create' %}" class="btn btn-dark btn-sm">add new tag</a>
  </div>
  <ul class="list-group">
    {% for tag in tags %}
    <li class="list-group-item d-flex justify-content-between">
      {{ tag.name }}
      <div style="display: inline">
        <a href="{% url 'tag_edit' tag.id %}" name="tag_edit" class="btn btn-info btn-sm float-right">Edit</a>
        <a href="{% url 'tag_delete' tag.id %}" name="tag_delete" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
