{% extends 'layouts/base.html' %} {% load static %} {% block title %}Crowd Funding{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% block content %}

<div>
  <img src="{% static 'projects/images/hero.jpg' %}" style="width: 100%; height: 50rem" alt="" />
</div>

<div class="container">
  <div class="row">
    <form class="d-flex mt-5" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='find'>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <h2 class="text-center mt-5">Here's Our highest 5 rated projects</h2>

    <div class="mt-4" id="slider">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"  aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          {% for project in HighRatedProjects %}
          <div class="carousel-item active">
            <img src="{{project.get_image_url}}" class="d-block w-100" style="height: 35rem" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{project.title}}</h5>
              <p>{{project.details}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="text-center mt-5">Our latest projects</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for project in latest_projects %}
      <div class="col">
        <div class="card">
          <img src="{{project.get_image_url}}" style="height: 20rem" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.details}}</p>
            <p class="card-text">Project Target : {{project.total_target}}</p>
            <p class="card-text">Project Category : {{project.category}}</p>
            
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <h2 class="text-center mt-5 mb-4">Also you can find projects at</h2>
    <div class="text-center">
      {% for category in categories %}
      <a href="{% url 'category' category.name %}" type="button" class="col-2 btn btn-outline-secondary">{{category.name}}</a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock%}
