{% extends 'layouts/base.html' %} {% load static %} {% block title %} Projects {% endblock %} {% block content %}

<a class='btn btn-success' href="{% url "create" %}">Add new project</a>
<div class="container"> 
            
    {% for pro in project %}
        <div class="iteeem card " style="width: 18rem; display:inline-block " >
          <img src="{{pro.get_image_url}}" width="200" height="200"> 
          <h5 class="card-title" >Title : {{pro.title}}</h5>
          <p class="card-text">Details : {{pro.details}}</p>
          <p class="card-text">Category : {{pro.cat}}</p>
          <p class="card-text">Total Target : {{pro.total_target}}</p>
          <p class="card-text">Start time : {{pro.start_time}}</p>
          <p class="card-text">End time : {{pro.end_time}}</p>
          <p class="card-text">Created at : {{pro.created_at}}</p>
          <p class="card-text">Uploaded at : {{pro.updated_at}}</p>
        </div>
    {% endfor %}
</div>  
{% endblock %}
        
        
 