{% extends 'layouts/base.html' %} {% load static %} {% block title %}Projects{% endblock %} {% block content %}
<a href="{% url 'project.create' %}" class="btn btn-success my-2 m-auto d-block w-25"> Create New project </a>
<div class="row gap-5 container m-auto my-3">
  {% for pro in projects %}
  <div class="card" style="width: 18rem">
    <img src="{{pro.get_image_url}}" style="height: 250px" class="card-img-top w-100" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{pro.title}}</h5>
      <a href="{% url 'project.view' pro.id %}" class="btn btn-primary">Details</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}
