{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" />
<link rel="stylesheet" href="{% static 'projects/css/styles.css' %}" />

<h1> Admin Panel </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Category</th>
            <th>Total Target</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
            <a href={% url "admin.update.project" project.id %} class='btn' >
            {{ project.title }}
            </a></td>
            <td>{{ project.details }}</td>
            <td>{{ project.category }}</td>
            <td>{{ project.total_target }}</td>
            <td> <a href={% url "admin.delete.project" project.id %} class='btn btn-danger'>Delete</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div >
<a href={% url "admin.create.project" %} class='btn btn-primary'>Create Project</a>
</div>