{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" />
<link rel="stylesheet" href="{% static 'projects/css/styles.css' %}" />

<h1> Update Project </h1>
{% comment %} {{project}} {% endcomment %}
<div class="container" style="padding: 50px 0px">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {% for field in form  %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{field.errors}}
                </div>
            {% endif %}
            {{field.label_tag}}
            {{field}}
        {% endfor %}

        <button type="submit" class="btn btn-primary">update Project</button>
    </form>
    <div>
        <script src="{% static 'projects/js/script.js'%}"></script>
    </div>
</div>
