{% extends 'layouts/base.html' %} {% load static %} {% block title %}Admin Home{% endblock %} {% block content %}
<h1 class="text-center text-info">Admin Home</h1>

<div class="container my-4">
  <hr />
  <h2 class="text-center bg-body-secondary">Create Category</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ category_form }}
    <input type="submit" name="category" class="btn btn-outline-success form-control mt-3" value="Create Category" />
  </form>
</div>
<div class="container my-4">
  <hr />
  <h2 class="text-center bg-body-secondary">Create Tag</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ tag_form }}
    <input type="submit" name="tag" class="btn btn-outline-success form-control mt-3" value="Create Tag" />
  </form>
</div>
<hr />

<div class="container my-4">
  <h2>Categories</h2>
  <ul class="list-group">
    {% for category in categories %}
    <li class="list-group-item d-flex justify-content-between">
      {{ category.name }}
      <form method="post" style="display: inline">
        {% csrf_token %} {% comment %} <button type="submit" name="edit_category_{{ category.id }}" class="btn btn-info btn-sm float-right">Edit</button> {% endcomment %}
        <button type="submit" name="delete_category_{{ category.id }}" class="btn btn-danger btn-sm float-right mr-2">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="container my-4">
  <h2>Tags</h2>
  <ul class="list-group">
    {% for tag in tags %}
    <li class="list-group-item d-flex justify-content-between">
      {{ tag.name }}
      <form method="post" style="display: inline">
        {% csrf_token %} {% comment %} <button type="submit" name="edit_tag_{{ tag.id }}" class="btn btn-info btn-sm float-right">Edit</button> {% endcomment %}
        <button type="submit" name="delete_tag_{{ tag.id }}" class="btn btn-danger btn-sm float-right mr-2">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>

<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
