{% extends 'layouts/base.html' %} {% load static %} {% block title %}Admin Home{% endblock %} {% block content %}
<div class="container my-4">
  <h1 class="text-center text-info mb-4">Admin Home</h1>

  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-center display-5">Authentication and Authorization</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'users_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Users</span></a>
              <span class="badge bg-secondary">{{ total_users }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'user_profiles_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">User Profiles</span></a>
              <span class="badge bg-secondary">{{ total_users_profiles }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-center display-5">Categories and Tags</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'categories_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Categories</span></a>
              <span class="badge bg-secondary">{{ total_categories }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'tags_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Tags</span></a>
              <span class="badge bg-secondary">{{ total_tags }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-center display-5">Projects</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'projects_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Projects</span></a>
              <span class="badge bg-secondary">{{ total_projects }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'reviews_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Reviews</span></a>
              <span class="badge bg-secondary">{{ total_reviews }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'donation' %}" class="text-primary text-decoration-none"><span class="fw-bold">Donations</span></a>
              <span class="badge bg-secondary">{{ total_donations }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'report' %}" class="text-primary text-decoration-none"><span class="fw-bold">Project Reports</span></a>
              <a href="{% url 'report' %}" class="text-primary"></a>
              <span class="badge bg-secondary">{{ total_projects_reports }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url 'report_comments_list' %}" class="text-primary text-decoration-none"><span class="fw-bold">Comment Reports</span></a>
              <span class="badge bg-secondary">{{ total_comments_reports }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'projects/js/script.js' %}"></script>

{% endblock %}
