{% extends 'layouts/base.html' %} {% load static %} {% block title %}Admin - registered users{% endblock %} 
<!-- main content -->
{% block content %}
<div>
    <h1 class="text-center">All users</h1><hr>
    <table class="table w-75 center">
            {% for user in users%}
        <tr>
            <td>{{user}}</td>
            <td><a href="" class="btn  btn-primary">Show</a> user id: {{user.id}}</td>
            <td><a href="" class="btn  btn-warning">Edit</a></td>
            <td><a href="" class="btn  btn-danger">delete</a></td>

        </tr>
             {%endfor%}
       
    </table>
</div>

{%endblock%}
