{% extends 'layouts/base.html' %} {% load static %} {% block title %}Profiles{% endblock %} {% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between alert">
    <h2>Profiles</h2>
    <a href="{% url 'category_create' %}" class="btn btn-dark btn-sm">add new profile</a>
  </div>
  <ul class="list-group">
    {% for profile in user_profiles %}
    <li class="list-group-item d-flex justify-content-between">
      {{ profile }}
      <div style="display: inline">
        <a href="{% url 'category_edit' profile.id %}" name="category_edit" class="btn btn-info btn-sm float-right">Edit</a>
        <a href="{% url 'category_delete' profile.id %}" name="tag_delete" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
