{% extends 'layouts/base.html' %} {% load static %} {% block title %}About US{% endblock %} {% block content %}
<div class="container text-center my-5">
    <!-- about us page -->
  <h2 class="">Meet Our Team ^_^ </h2>
  <hr>
  <div>
    <div class="container  row ">
        <div class="row d-flex justify-content-around col-12">
            <div class="card col-lg-5 col-sm-10 m-1 mt-5" >
                <img src="https://placebear.com/300/300" class="card-img-top m-1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Islam Nady</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-5 mt-5" >
                <img src="https://placebear.com/300/300" class="card-img-top m-1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>

            <div class="card col-5 m-1 mt-5" >
                <img src="https://placebear.com/300/300" class="card-img-top m-1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>


            <div class="card col-5 m-1 mt-5" >
                <img src="https://placebear.com/300/300" class="card-img-top m-1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>

            <div class="card col-5 m-1 mt-5" >
                <img src="https://placebear.com/300/300" class="card-img-top m-1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- testing area -->

</div>
{% endblock%}
