{% extends 'layouts/base.html' %} {% load static %} {% block title %}Profiles{% endblock %} {% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Profiles</h2>
    <a href="{% url 'category_create' %}" class="btn btn-primary btn-sm">Add New Profile</a>
  </div>
  <ul class="list-group">
    {% for profile in user_profiles %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="font-weight-bold">{{ profile }}</span>
      <div>
        <a href="{% url 'category_edit' profile.id %}" name="category_edit" class="btn btn-warning btn-sm mx-1">Edit</a>
        <a href="{% url 'category_delete' profile.id %}" name="tag_delete" class="btn btn-danger btn-sm mx-1">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="{% static 'projects/js/script.js' %}"></script>
{% endblock %}
