{% extends 'layouts/base.html' %} {% load static %} {% block title %}Edit Profile{% endblock %} {% block content %}
<div class="container my-4">
  <hr />
  <h2 class="text-center bg-body-secondary">Edit Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ user_profile_form }}
    <input type="submit" name="profile" class="btn btn-outline-success form-control mt-3" value="Update Profile" />
  </form>
</div>
<script src="{% static 'projects/js/script.js'%}"></script>
{% endblock%}
